# Same as Last Period Prediction

In this notebook we will make the baseline for our predictions, same as the last period.

In [2]:
%matplotlib
import matplotlib.pyplot as plt

import sys
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


import boto3
import sagemaker
from sagemaker import get_execution_role

sagemaker_session = sagemaker.Session()
role = sagemaker.get_execution_role()


# S3 bucket name
bucket = 'sagemaker-us-west-2-479862333671'
subfolder = ''
conn = boto3.client('s3')
contents = conn.list_objects(Bucket=bucket, Prefix=subfolder)['Contents']

Using matplotlib backend: agg

In [3]:
data_ready_location = 's3://{}/{}'.format(bucket, 'data/data_ready.csv')

In [4]:
data_ready = pd.read_csv(data_ready_location)

In [5]:
data_ready

          demand  item_id  dept_id  cat_id  store_id  state_id     d  event_name_1  event_type_1  event_name_2  event_type_2  snap_CA  snap_TX  snap_WI  sell_price  date_day  date_week  date_month  date_year  date_week_m  lag_28  lag_35  lag_42  lag_49  lag_56  rolling_median_7  rolling_median_14  rolling_median_30  rolling_median_60  rolling_median_180
0              0     1446        3       1         9         2    19            30             4             4             2        0        0        0        3.17        16          7           2          0            3     0.0     0.0     0.0     2.0     1.0               1.0                0.0                0.5                0.0                 0.0
1              1     1446        3       1         9         2    20            30             4             4             2        0        0        0        3.17        17          7           2          0            3     2.0     2.0     0.0     0.0     0.0               1.0                0.5                0.5                0.0                 0.0
2              3     1446        3       1         9         2    21            30             4             4             2        0        0        0        3.17        18          7           2          0            3     0.0     0.0     0.0     1.0     2.0               1.0                0.5                0.0                0.0                 0.0
3              0     1458        3       1         9         2    19            30             4             4             2        0        0        0        7.33        16          7           2          0            3     1.0     0.0     0.0     1.0     1.0               1.0                0.0                0.0                1.0                 1.0
4              0     1458        3       1         9         2    20            30             4             4             2        0        0        0        7.33        17          7           2          0            3     0.0     0.0     0.0     0.0     0.0               1.0                0.0                0.0                1.0                 1.0
...          ...      ...      ...     ...       ...       ...   ...           ...           ...           ...           ...      ...      ...      ...         ...       ...        ...         ...        ...          ...     ...     ...     ...     ...     ...               ...                ...                ...                ...                 ...
46220039       1     1432        2       0         9         2  1940            30             4             4             2        0        0        0        2.98        21         20           5          5            3     0.0     0.0     0.0     0.0     0.0               1.0                0.5                1.0                1.0                 1.0
46220040       1     1433        2       0         9         2  1940            30             4             4             2        0        0        0        2.48        21         20           5          5            3     3.0     1.0     1.0     0.0     0.0               1.0                0.0                0.0                0.0                 0.0
46220041       0     1434        2       0         9         2  1940            30             4             4             2        0        0        0        3.98        21         20           5          5            3     5.0     2.0     1.0     1.0     1.0               2.0                2.0                1.0                1.0                 1.0
46220042       1     1435        2       0         9         2  1940            30             4             4             2        0        0        0        1.28        21         20           5          5            3     0.0     0.0     3.0     0.0     2.0               0.0                0.0                1.0                1.0                 1.0
46220043       5     1436        2       0         9         2  1940            30             4             4             2        0        0        0        1.00        21         20           5          5            3     1.0     2.0     0.0     3.0    16.0               2.0                1.0                1.5                2.0                 2.0

[46220044 rows x 30 columns]

In [30]:
Y_pred = data_ready.loc[(data_ready['d'] > 1886) & (data_ready['d'] < 1914)]['demand'].to_frame()

In [31]:
Y_pred

          demand
44482117       0
44482118       0
44482119       0
44482120       0
44482124       0
...          ...
45549244       0
45549250       1
45549251       3
45549257       0
45549258       0

[823230 rows x 1 columns]

In [32]:
Y_test = pd.read_csv('s3://{}/{}'.format(bucket, 'data/val.csv'))['demand'].to_frame()

In [33]:
Y_test

        demand
0            0
1            0
2            0
3            2
4            0
...        ...
823225       1
823226       1
823227       0
823228       1
823229       5

[823230 rows x 1 columns]

In [49]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [50]:
mean_squared_error(Y_test, Y_pred, squared=True)

26.457508837141503

In [51]:
mean_squared_error(Y_test, Y_pred, squared=False)

5.1436863081977995

In [52]:
mean_absolute_error(Y_test, Y_pred)

2.219108876012779

In [53]:
same = data_ready.loc[(data_ready['d'] > 1886) & (data_ready['d'] < 1914)]

In [54]:
same

          demand  item_id  dept_id  cat_id  store_id  state_id     d  event_name_1  event_type_1  event_name_2  event_type_2  snap_CA  snap_TX  snap_WI  sell_price  date_day  date_week  date_month  date_year  date_week_m  lag_28  lag_35  lag_42  lag_49  lag_56  rolling_median_7  rolling_median_14  rolling_median_30  rolling_median_60  rolling_median_180
44482117       0     1437        3       1         0         0  1887            30             4             4             2        0        0        0        8.26        29         13           3          5            5     0.0     0.0     0.0     0.0     1.0               0.0                0.0                0.0                0.0                 0.0
44482118       0     1437        3       1         0         0  1888            30             4             4             2        0        0        0        8.26        30         13           3          5            5     0.0     0.0     1.0     3.0     6.0               0.0                0.0                0.0                0.0                 0.0
44482119       0     1437        3       1         0         0  1889            30             4             4             2        0        0        0        8.26        31         13           3          5            5     3.0     3.0     1.0     0.0     2.0               0.0                0.0                0.0                0.0                 0.0
44482120       0     1437        3       1         0         0  1890            30             4             4             2        1        1        0        8.26         1         13           4          5            1     0.0     0.0     0.0     1.0     0.0               0.0                0.0                0.0                0.0                 0.0
44482124       0     1438        3       1         0         0  1887            30             4             4             2        0        0        0        3.97        29         13           3          5            5     0.0     0.0     0.0     1.0     0.0               0.0                0.0                0.0                0.0                 0.0
...          ...      ...      ...     ...       ...       ...   ...           ...           ...           ...           ...      ...      ...      ...         ...       ...        ...         ...        ...          ...     ...     ...     ...     ...     ...               ...                ...                ...                ...                 ...
45549244       0     1434        2       0         9         2  1913            30             4             4             2        0        0        0        3.98        24         16           4          5            4     1.0     0.0     0.0     6.0     0.0               0.0                0.0                1.0                1.0                 1.0
45549250       1     1435        2       0         9         2  1912            30             4             4             2        0        0        0        1.28        23         16           4          5            4     0.0     0.0     0.0     1.0     1.0               1.0                1.5                1.0                1.0                 1.0
45549251       3     1435        2       0         9         2  1913            30             4             4             2        0        0        0        1.28        24         16           4          5            4     1.0     0.0     4.0     3.0     3.0               1.0                1.0                1.0                1.0                 1.0
45549257       0     1436        2       0         9         2  1912            30             4             4             2        0        0        0        1.00        23         16           4          5            4     0.0     1.0     4.0     3.0     2.0               0.0                1.0                2.5                2.0                 2.0
45549258       0     1436        2       0         9         2  1913            30             4             4             2        0        0        0        1.00        24         16           4          5            4     0.0     0.0     8.0    13.0     0.0               0.0                0.5                2.5                2.0                 2.0

[823230 rows x 30 columns]

In [55]:
data_dir = ''

same.to_csv(os.path.join(data_dir, 'same.csv'), index=False)

same_location = sagemaker_session.upload_data(os.path.join(data_dir, 'same.csv'))

In [56]:
same = pd.read_csv('s3://{}/{}'.format(bucket, 'data/same.csv'))

In [57]:
same

        demand  item_id  dept_id  cat_id  store_id  state_id     d  event_name_1  event_type_1  event_name_2  event_type_2  snap_CA  snap_TX  snap_WI  sell_price  date_day  date_week  date_month  date_year  date_week_m  lag_28  lag_35  lag_42  lag_49  lag_56  rolling_median_7  rolling_median_14  rolling_median_30  rolling_median_60  rolling_median_180
0            0     1437        3       1         0         0  1887            30             4             4             2        0        0        0        8.26        29         13           3          5            5     0.0     0.0     0.0     0.0     1.0               0.0                0.0                0.0                0.0                 0.0
1            0     1437        3       1         0         0  1888            30             4             4             2        0        0        0        8.26        30         13           3          5            5     0.0     0.0     1.0     3.0     6.0               0.0                0.0                0.0                0.0                 0.0
2            0     1437        3       1         0         0  1889            30             4             4             2        0        0        0        8.26        31         13           3          5            5     3.0     3.0     1.0     0.0     2.0               0.0                0.0                0.0                0.0                 0.0
3            0     1437        3       1         0         0  1890            30             4             4             2        1        1        0        8.26         1         13           4          5            1     0.0     0.0     0.0     1.0     0.0               0.0                0.0                0.0                0.0                 0.0
4            0     1438        3       1         0         0  1887            30             4             4             2        0        0        0        3.97        29         13           3          5            5     0.0     0.0     0.0     1.0     0.0               0.0                0.0                0.0                0.0                 0.0
...        ...      ...      ...     ...       ...       ...   ...           ...           ...           ...           ...      ...      ...      ...         ...       ...        ...         ...        ...          ...     ...     ...     ...     ...     ...               ...                ...                ...                ...                 ...
823225       0     1434        2       0         9         2  1913            30             4             4             2        0        0        0        3.98        24         16           4          5            4     1.0     0.0     0.0     6.0     0.0               0.0                0.0                1.0                1.0                 1.0
823226       1     1435        2       0         9         2  1912            30             4             4             2        0        0        0        1.28        23         16           4          5            4     0.0     0.0     0.0     1.0     1.0               1.0                1.5                1.0                1.0                 1.0
823227       3     1435        2       0         9         2  1913            30             4             4             2        0        0        0        1.28        24         16           4          5            4     1.0     0.0     4.0     3.0     3.0               1.0                1.0                1.0                1.0                 1.0
823228       0     1436        2       0         9         2  1912            30             4             4             2        0        0        0        1.00        23         16           4          5            4     0.0     1.0     4.0     3.0     2.0               0.0                1.0                2.5                2.0                 2.0
823229       0     1436        2       0         9         2  1913            30             4             4             2        0        0        0        1.00        24         16           4          5            4     0.0     0.0     8.0    13.0     0.0               0.0                0.5                2.5                2.0                 2.0

[823230 rows x 30 columns]